<!DOCTYPE>
<html lang"ja">
 <head>
  <meta charset="UTF-8">
   <link rel="Stylesheet" href="top.scss">
   <title>BookersTop</title>
 <body>

<div class="profile-container">
 <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

  <h3 class="profile-name"><%= @user.name %></h3>
  <h3 class="profile-intoroduction"><%= @user.introduction %></h3>
</div>

